.container-fluid img {
    height: 2rem;
}

.carousel-inner img {
    height: 300px;
}

.buscador input[type=text] {
    text-align: right;
    padding: 6px;
    border: solid black 1px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

#buscadorycheckboxs {

    margin-top: 1rem;
    margin-bottom: 1rem;

}

.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;

}

body>footer {
    background-color: #21252956;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 2rem;
}
body>main{
 min-height: 100vh;    
}

.input-group-text>label {
    margin-left: 10px;
}

#containerdetails img {
    height: fit-content;
    padding-top: 1rem;
}


#containercontact textarea {
    height: 100px;

}

#submitcontact {
    right: 0;
}

.subtitle_table {
    text-align: center;
}



table th,
td {
    border: solid black 1px;
    height: 2rem;
}


#buscador {
    width: 10rem;
}

/* crear un estilo bonito para el div */
#mensajeNoResultados{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
    background-color: azure;
    padding: 1rem;
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;


}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

#imagentabla{
    transition: transform 0.2s;   
}

#imagentabla:hover{
    transform: scale(4);
}

.table-hover-custom tbody tr:hover {
    background-color: orange; 
  }
/*

#imgtabla {
    transition: transform 0.2s;
}

#imgtabla:hover {
    transform: scale(2.5);
}
*/